<div class="jumbotron">
  <div class="container">
    <h1>Forage</h1>
    <p>A really simple search engine</p>
    <p><a href="http://www.foragejs.net" class="btn btn-primary btn-lg">Learn more</a></p>
    <div id="about" ng-controller="aboutCtrl">
      <pre ng-bind-html="trustPackageJSON()"></pre>
    </div>
    <p>
      <a href="https://nodei.co/npm/forage/">
        <img src="https://nodei.co/npm/forage.png?stars&amp;downloads"
             alt="NPM"
             style="max-width:100%;">
      </a>
    </p>
    <p>
      <a href="https://nodei.co/npm/forage/">
        <img src="https://nodei.co/npm-dl/forage.png" 
             alt="NPM"
             style="max-width:100%;">
      </a>
    </p>
  </div>
</div>

