<h2>Add Documents to Search Index</h2>
<p>
  See <a href="https://github.com/fergiemcdowall/forage#indexing-api">https://github.com/fergiemcdowall/forage#indexing-api</a> for more info
</p>
<form action="/indexer" method="POST" enctype="multipart/form-data">
  <input type="file" id="document" name="document">
  <p>
    <input type="text"
           class="span8"
           placeholder="filter fields (comma separated list)"
           id="filterOn"
           name="filterOn">
  </p>
  <p>
    <button class="btn btn-large" type="submit">
      Upload to Index
    </button>
  </p>
</form>
