<div ng-controller="searchCtrl">
  <h2>{{norch.totalHits}} <small>hits for</small> {{norch.q}}</h2>
  <div ng-if="norch.activeFilters.length">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Filters</h3>
      </div>
      <div class="panel-body">
        <a href="{{f.filterURL}}" ng-repeat="f in norch.activeFilters">
          <b>{{f.filterName}}:</b>{{f.filterValue}}
        </a>
      </div>
    </div>
  </div>
  <div ng-repeat="(facetname, facet) in norch.facets">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{facetname}}</h3>
      </div>
      <div class="panel-body">
        <a href="{{facety.url}}"
           ng-repeat="facety in facet">
          {{facety.label}}:{{facety.count}}
        </a>
      </div>
    </div>
  </div>
  <div>
    <div infinite-scroll='norch.nextPage()'
         infinite-scroll-disabled='norch.busy'
         infinite-scroll-distance='1'>
      <div ng-repeat='item in norch.items'>
        <div class="panel panel-default">
          <div class="panel-body">
            <div ng-repeat='(key, value) in item.document'>
              <b>{{key}}:</b> {{value}}
            </div>
<!-- TODO: find the updated way to render the teaser in Angular
            <span ng-bind-html='item.document.teaser'></span>
-->
          </div>
        </div>
      </div>
      <div ng-show='norch.busy'>Loading data...</div>
    </div>
  </div>
</div>
