<div ng-controller="searchCtrl">
  <div ng-repeat="(facetname, facet) in facets">
    <h4>{{facetname}}</h4>
    <a href="{{facety.url}}"
       ng-repeat="facety in facet">
      {{facety.label}}:{{facety.count}}
    </a>
  </div>
  <div class="text-right" ng-if="activeFilters">
    <h4>Filters</h4>
    <a class="red" href="{{f.filterURL}}" ng-repeat="f in activeFilters">
      {{f.filterName}}:{{f.filterValue}}
    </a>
  </div>
  <div ng-repeat="hits in results">
    <h3>{{hits.document.title}}</h3>
    <span>{{hits.document.body}}</span>
  </div>
</div>
